{% extends 'movieapp/base.html' %} {% load static %} {% block title %}
<title>Совет фильма</title>
{% endblock %} {% block content %}
<style>
  .container {
    max-width: 800px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
  }

  button:hover {
    background-color: #218838;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
  }
</style>
<div class="container text-center">
  <h3>Ты не знаешь, что посмотреть? Тогда ты по адресу</h3>
  <p>
    Страница на которой нейронная сеть, поможет тебе определиться с выбором, и
    сможет посоветовать тебе, что-либо. <br />Грузиться будет довольно долго,
    так что придется немного подождать.
  </p>
  {% if error %}
  <h3 class="alert alert-danger">{{ error }}</h3>
  {% endif %}
  <form action="{% url 'advice' %}" method="post">
    {% csrf_token %} {% if UserText %}
    <input
      class="form-control"
      value="{{UserText}}"
      type="text"
      name="userimport"
    />
    {% else %}
    <input
      class="form-control-lg"
      style="width: 40rem"
      type="text"
      name="userimport"
    />
    <br />
    {% endif %}
    <button class="btn btn-outline-success mt-3">Спросить рекомендацию</button>
  </form>
  <br />
  {% if advice %}
  <h4 class="text-success">{{advice}}</h4>
  {% endif %}
</div>
{% endblock %}
